.example {
  color: #fff;
}

.example-item {
  width: 33.333%;
  height: 150px;
}

.example-item_first {
  background-color: #faa116;
}

.example-item_second {
  background-color: #54c7c3;
}

.example-item_third {
  background-color: #3b97d3;
}
